/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #0B032E;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #74546A;
    color: #0B032E;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #F67E7D;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #0B032E;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #F67E7D;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #F67E7D;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#home-search {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: none;
    margin: 5px;
}

.logo {
    height: 150px;
    width: 150px;
}

.dropright {
    margin: 2.5px;
}

.genButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F67E7D;
    color: #863D62;
    margin: 5px;
    border: none;
}

.dropdown-toggle {
    background-color: #FFB997 !important;
    color: #F67E7D !important;
    width: 200px;
    text-align: left;
}

.dropdown-toggle[aria-expanded="true"] {
    border: bold;
    border-color: #F67E7D !important;
}

.dropdown-toggle[aria-expanded="false"] {
    border: none;
}

.dropdown-menu {
    background-color: #FFD5C0;
}
.dropdown-item {
    color: #863D62;
}
.dropdown-divider {
    border-color: #863D62;
}

#findHeart {
    padding-left: 5px;
    padding-top: 3px;
}

colors {
    color: #0B032E;
    color: #FFB997;
    color: #F67E7D;
    color: #863D62;
    color: #FFD5C0;
    color: #74546A;
    color: #DF8483;
}
