html, body {
    background-color: #0b032e;
    height: 100%;
    width: 100%;
    font-family: 'Itim', cursive;
}

h1 {
    color: #0b032e;
    margin: 0px 0px 7px 0px;
}

h2 {
    color: #74546a;
}

.container, .outerRow {
    height: 100%;
}

/* Middle section date idea card */
#dateIdea {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #74546a;
    border-radius: 25px;
    height: 90%;
    overflow: hidden;
    padding: 0;
}

#imgContain {
    height: 350px;
    overflow: hidden;
    position: relative;
}

img {
    max-height:100%;
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#img, #imgBtns {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#imgBtns {
    z-index: 10;
}
  
.imgBtnsRow {
    --bs-gutter-x: 0;
}
#arrowLeft {
    text-align: left;
    padding-top: 140px;
}

#arrowRight {
    text-align: right;
    padding-top: 140px;
}

.arrowBtn {
    opacity: 70%;
    background: none;
    border: none;
    color: #0b032e;
    font-size: 50px;
}
.arrowBtn:hover {
    opacity: 100%;
    cursor: pointer;
}

#textContain {
    background-color: #ffb997;
    padding: 15px;
    height: 40%;
    width: 100%;
}

.infoBtn {
    font-size: 30px;
    padding-top: 5px;
    color: #0b032e;
}
.infoBtn:hover {
    color: #74546a;
    cursor: pointer;
}

hr {
    margin: 0;
    border-top: 3px solid #0b032e;    
}

/* side buttons */
#buttonContain {
    margin: auto;
    height: 120px;
    width: 120px;
    padding: 0;
}

#reject, #accept {
    background-color: #ffd5c0;
    height: 100%;
}

.rejectBtn {
    color: #74546a;
    height: 120px;
    width: 120px;
    padding: 0;
    font-size: 50px;
}
.rejectBtn:hover {
    color: #0b032e;
}

.acceptBtn {
    color: #f67e7d;
    height: 120px;
    width: 120px;
    padding: 0;
    font-size: 80px;
    text-align: center;
    padding-top: 22px;
}
.acceptBtn:hover {
    color: #F5484B;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffb997;
    margin: 10% auto; 
    width: 60%; 
    height: 60%;
    border: none;
    border-radius: 25px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Modal Close Button */
  .close {
    color: #0b032e;
    float: right;
    font-size: 50px;
    font-weight: bold;
    opacity: 70%;
    position: relative;
    top: -20px;
  }
  
  .close:hover,
  .close:focus {
    opacity: 100%;
    text-decoration: none;
    cursor: pointer;
  }

  .topbar {
      padding: 15px;
      --bs-gutter-x: 0;
      height: 20%;
      width: 100%;
      background-color: #df8483;
  }
  
  .modalBottom {
    margin: 10px;
    height: 100%;
    background-image: url("stamp.png");
  }

  .popupLeft {
      height: 100%;
      border-left: 3px solid #df8483;
  }